---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="lg:w-[740] w-full mx-auto py-44">
      <h1
        class="text-white text-5xl font-bold justify-center flex flex-row gap-x-4"
      >
        Hola! Soy Matías Acebal
        <div class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </h1>
      <h2>
        Desarrollador FullStack estudiando Ingeniería en Sistemas. Apasionado de
        la tecnología desde que tengo memoria
      </h2>
    </section>
  </main>
</Layout>
