---
import { PinContainer } from "./3dPin";
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Hola, soy Matías Acebal. Inicié mi trayectoria en programación a los 17
      años, comenzando con Python. Hoy, me dedico a conceptualizar y desarrollar
      proyectos que buscan generar un alto impacto en la sociedad.
    </p>

    <p>
      Entre mis logros destacados se encuentra la creación de un sistema
      integral para un gimnasio, que actualmente cuenta con más de 600 usuarios
      activos. Además, he documentado y refactorizado proyectos clave en una
      startup, y continúo trabajando en nuevos desarrollos prometedores.
    </p>
  </div>
  <!-- <img src="/me.jpg" class="rounded-full size-64 order-1 md:order-2" /> -->
  <div class="order-1 md:order-2 pb-5">
    <PinContainer
      client:only
      title="Mi Linkedin"
      href="https://www.linkedin.com/in/matiasacebal/"
    >
      <a href="https://www.linkedin.com/in/matiasacebal/" target="_blank">
        <div
          class="flex basis-full flex-col p-4 tracking-tight text-slate-100/50 sm:basis-1/2 w-[20rem] h-[20rem]"
        >
          <h3 class="max-w-xs !pb-2 !m-0 font-bold text-base text-slate-100">
            Desarrollador FullStack y Analista en Sistemas
          </h3>
          <div class="text-base !m-0 !p-0 font-normal">
            <span class="text-slate-500"> Sí, la tecnología es mi pasión.</span>
          </div>
          <div class="justify-center text-center align-middle flex pt-10">
            <img src="/me.jpg" class="rounded-full h-32 w-32" />
          </div>
        </div>
      </a>
    </PinContainer>
  </div>
</section>
