<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Matías Acebal. Empecé en la programación con Python cuando tenía
      17 añós. Actualmente estoy <strong
        >trabajando y mentoreando en una Startup con mucho potencial de
        crecimiento</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >la creación de un sistema completo para un gimnasio</strong
      >, que hoy en día tiene más de 600 usuarios.
    </p>
  </div>
  <img src="/me.jpg" class="rounded-full size-64 order-1 md:order-2" />
</section>
