---
import { PinContainer } from "./3dPin";
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Hola, soy Matías Acebal, Desarrollador FullStack y Analista en Sistemas.
      Empecé a programar a los 17 años y, desde entonces, he liderado proyectos
      como FitLife Manager, un sistema para gimnasios con más de 600 usuarios
      activos, y he colaborado en la documentación y refactorización de
      aplicaciones clave en startups.
    </p>
    <p>
      También tengo experiencia en auditorías web y pruebas de penetración,
      fruto de mi interés por la ciberseguridad. Actualmente, estoy finalizando
      mi Ingeniería en Sistemas y me apasiona crear soluciones escalables y de
      alto impacto para diversas industrias
    </p>
  </div>
  <!-- <img src="/me.jpg" class="rounded-full size-64 order-1 md:order-2" /> -->
  <div class="order-1 md:order-2 pb-5">
    <PinContainer
      client:only
      title="Mi Linkedin"
      href="https://www.linkedin.com/in/matiasacebal/"
    >
      <a href="https://www.linkedin.com/in/matiasacebal/" target="_blank">
        <div
          class="flex basis-full flex-col p-4 tracking-tight text-slate-100/50 sm:basis-1/2 w-[20rem] h-[20rem]"
        >
          <h3 class="max-w-xs !pb-2 !m-0 font-bold text-base text-slate-100">
            Desarrollador FullStack y Analista en Sistemas
          </h3>
          <div class="text-base !m-0 !p-0 font-normal">
            <span class="text-slate-500"> Sí, la tecnología es mi pasión.</span>
          </div>
          <div class="justify-center text-center align-middle flex pt-10">
            <img src="/me.jpg" class="rounded-full h-32 w-32" />
          </div>
        </div>
      </a>
    </PinContainer>
  </div>
</section>
