---
const certificados = [
  { src: "/projects/hack.png", description: "Hacking Ético - Platzi" },
  {
    src: "/projects/inteligencia.png",
    description: "Inteligencia para la ciberseguridad - Platzi",
  },
  {
    src: "/projects/reactnative.png",
    description: "Introducción a React Native - Platzi",
  },
  { src: "/projects/redes.png", description: "Redes de Computadoras - Platzi" },
  { src: "/projects/html.jpg", description: "Curso de HTML - Udemy" },
];

const hoverScale = 1.05; // Escala de aumento al hacer hover
---
<!-- Componente de Certificados con Grilla más Grande al Estilo Bento -->
<section class="p-4 max-w-7xl mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      certificados.map(({ src, description }) => (
        <div class="group relative cursor-pointer overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 rounded-lg">
          <img
            src={src}
            alt={`Certificado de ${description}`}
            class="w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
          />
          <div class="absolute inset-0 bg-black bg-opacity-40 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p class="text-white text-xl px-3 text-center">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
