---
import DarkModeSwitcher from "./DarkModeSwitcher.astro";
---

<header
  class="flex justify-center items-center sticky top-0 w-full xl:max-w-screen-xl mx-auto py-5 z-10"
>
  <nav
    class="flex items-center gap-3 p-2 rounded-full bg-neutral-200 bg-opacity-60 dark:bg-neutral-800 dark:bg-opacity-60 transition-all duration-300 ease-in-out backdrop-blur-xl shadow-lg relative"
  >
    <div class="absolute inset-0 rounded-full shadow-lg"
      style="box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3);">
    </div>
    <a
      class="hover:bg-neutral-300 dark:hover:bg-neutral-700 transition-colors duration-300 ease-in-out py-2 px-4 rounded-full text-sm sm:text-base relative z-10"
      href="/#">Inicio</a
    >
    <a
      class="hover:bg-neutral-300 dark:hover:bg-neutral-700 transition-colors duration-300 ease-in-out py-2 px-4 rounded-full text-sm sm:text-base relative z-10"
      href="/#experience">Experiencia</a
    >
    <a
      class="hover:bg-neutral-300 dark:hover:bg-neutral-700 transition-colors duration-300 ease-in-out py-2 px-4 rounded-full text-sm sm:text-base relative z-10"
      href="/#proyectos">Proyectos</a
    >
    <a
      class="hover:bg-neutral-300 dark:hover:bg-neutral-700 transition-colors duration-300 ease-in-out py-2 px-4 rounded-full text-sm sm:text-base relative z-10"
      href="/#sobre-mi">Sobre mí</a
    >
    <span class="ml-auto relative z-10">
      <DarkModeSwitcher />
    </span>
  </nav>
</header>
