---
const { href } = Astro.props
---

<a
  href={href}
  target="_blank"
  class="inline-flex items-center justify-center px-2 py-1 text-xs transition border border-gray-300 rounded-full bg-white/5 dark:border-white/10 gap-x-2 md:py-2 md:px-4 md:text-base hover:scale-110 hover:bg-white/10"
>
  <slot />
</a>