---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center text-lg font-medium text-[#00ff41] hover:text-[#008f11] transition-colors duration-300"
>
  <slot />
</a>
