---
const { href } = Astro.props;
---

<a
    href={href}
    class:list={[
        "transition hover:text-yellow-500 dark:hover:text-yellow-400",
        Astro.props.class,
    ]}
>
    <slot />
</a>