---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="relative text-black dark:text-white">
    <div
      class="absolute
        top-0
        bottom-0
        z-[-2]
        min-h-screen
        w-full
        bg-gray-50
        dark:bg-gray-950
        animate-gradient-background
        bg-[radial-gradient(100%_100%_at_50%_0%,rgba(217,216,255,0.7)_0%,rgba(217,216,255,0.3)_45%,transparent_70%),radial-gradient(100%_100%_at_50%_100%,rgba(255,216,248,0.7)_0%,rgba(255,216,248,0.3)_45%,transparent_70%),radial-gradient(80%_80%_at_50%_50%,rgba(255,255,255,0.4)_0%,transparent_100%)]
        dark:bg-[radial-gradient(100%_100%_at_50%_0%,rgba(120,119,198,0.5)_0%,rgba(120,119,198,0.2)_45%,transparent_70%),radial-gradient(100%_100%_at_50%_100%,rgba(172,119,198,0.5)_0%,rgba(172,119,198,0.2)_45%,transparent_70%),radial-gradient(80%_80%_at_50%_50%,rgba(0,0,0,0.2)_0%,transparent_100%)]
        [background-size:200%_200%]
        after:content-['']
        after:absolute
        after:top-0
        after:bottom-0
        after:left-0
        after:right-0
        after:bg-[url('/noise.png')]
        after:opacity-[0.015]
        after:dark:opacity-[0.03]"
    >
    </div>

    <Header />
    <slot />
    <Footer />

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }

      @keyframes gradient-background {
        0% {
          background-position: 50% 0%;
        }
        25% {
          background-position: 50% 50%;
        }
        50% {
          background-position: 50% 100%;
        }
        75% {
          background-position: 50% 50%;
        }
        100% {
          background-position: 50% 0%;
        }
      }

      .animate-gradient-background {
        animation: gradient-background 20s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      }

      @media (prefers-reduced-motion: reduce) {
        .animate-gradient-background {
          animation: none;
        }
      }
    </style>
  </body>
</html>
